.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0;
}
.icons {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.iconsDisable {
  fill: #64748b;
  cursor: auto;
}
.currentPage {
  color: #0ea5e9;
}