.article {
  display: grid;
  grid-template-columns: 200px 1fr;
  background-color: #1e293b;
  border-radius: 95px;
  column-gap: 5px;
  padding: 5px;
}

.characterData {
  padding: 2px;
  margin-left: 5px;
}

.characterData h3 {
  font-weight: bold;
}

.character {
  margin: 10px 0;
}

.characterLink {
  font-size: 1.3em;
  font-weight: bold;
}

.status {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  text-transform: capitalize;
}

.statusIcon {
  height: 0.5rem;
  width: 0.5rem;
  margin-right: 0.375rem;
  border-radius: 50%;
}

.statusIconAlive {
  background: rgb(85, 204, 68);
}

.statusIconDead {
  background: rgb(214, 61, 46);
}

.statusIconUnknown {
  background: rgb(161, 161, 161);
}

.characterInfo {
  margin: 5px 0;
  font-size: 1em;
}

.characterInfo p {
  color: chocolate;
}
