.wrapper {
  display: grid;
  gap: 1rem;
  grid-auto-flow: dense;
  grid-auto-rows: 20rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem), 1fr));
  justify-content: center;
  align-items: center;
}

.featured {
  grid-column: span 2;
}
